h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Rubik' !important;
}

p,
span {
    font-family: 'Roboto' !important;
}

img {
    max-width: 100%;
}

.container__large {
    max-width: 1440px;
}

.bg__gray {
    background-color: #f9fafb;
}

.header__search span i {
    font-size: 20px;
    border-right: 1px solid rgb(218, 218, 218);
}

.header__contact__section {
    width: 200px;
}

.header__contact__logo span i {
    color: #e83b3e;
    font-size: 30px;
}

.default__btn a {
    padding: 10px 40px;
    position: relative;
    z-index: 1;
}

.default__btn a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: black !important;
    border: 1px solid black !important;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.default__btn a:hover {
    border: 1px solid black !important;
}

.default__btn a:hover::after {
    width: 100%;
    border: 1px solid black !important;
    opacity: 1;
    visibility: visible;
}

.slider__section {
    background-image: url(./images/main-banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0%;
    background-attachment: fixed;
    height: 92vh;
}

.column__wrapper {
    height: 92vh;
}

.banner__body {
    position: relative;
}

.banner__body .h1 {
    font-size: 65px;
}

.banner__body .h5 {
    color: #e73c3e;
}

.banner__body .lead {
    font-weight: 400;
}

.banner__footer {
    position: absolute;
    bottom: 0%;
}

.banner__footer ul {
    position: relative;
}

.banner__footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.banner__footer ul::after {
    content: "";
    position: absolute;
    /* height: 1px; */
    width: 30px;
    border-top: 1px solid black;
    top: 15px;
    bottom: 0px;
    right: 160px;
}

.about__sample__xp__text {
    background-image: url(./images/shape.png);
    right: 100px;
    bottom: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

.about__sample__xp__text div {
    position: relative;
    right: -34px;
}

.about__section .banner__body .h1 {
    font-size: 40px;
    font-weight: 400;
}

.about__sample__xp__text div h1 {
    color: #dc3545;
    font-size: 60px;
    font-weight: 400;
}

.banner__body ul li {
    list-style: none;
    margin-bottom: 5px;
}

.banner__body ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #dc3545;
    margin-right: 5px;
}

.peoples__appearence .banner__body span {
    font-size: 18px;
}

.peoples__appearence .banner__body .h1 {
    font-size: 40px;
    font-weight: 600;
}

.peoples__appearence .banner__body .lead {
    font-size: 18px;
}

.anchor__play__btn {
    display: inline-block;
    height: 90px;
    width: 90px;
    text-align: center;
    line-height: 90px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    bottom: 18%;
    left: 50%;
    z-index: 1;
}

@keyframes play__btn {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(1.25);
        opacity: 0.25;
    }

    50% {
        transform: scale(1.50);
        opacity: 0.50;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.anchor__play__btn a {
    display: inline-block;
    height: 90px;
    width: 60px;
}

.anchor__play__btn a i {
    font-size: 60px;
    color: #dc3545;
    line-height: 90px;
}

.anchor__play__btn::before {
    content: '';
    background-color: #dc3545;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    animation: play__btn 1s ease-out infinite;
    z-index: -1;
}

.card__logo i {
    color: #dc3545;
    font-size: 45px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s;
}

.card__detail .lead {
    font-size: 18px;
}

.the__card {
    position: relative;
    overflow: hidden;
    padding: 45px 30px 30px 30px;
    transition: all 0.5s;
}

.the__card:hover {
    transform: translateY(-15px);
}

.the__card:hover i {
    color: #fff;
    background-color: #dc3545;
}

.the__card::before {
    content: '';
    position: absolute;
    height: 80%;
    width: 90%;
    background-color: rgb(253, 235, 235);
    border-radius: 50%;
    top: -52%;
    left: 5%;
}

.apply__now__header .banner__body {
    padding: 0 345px;
}

.apply__now__header .banner__body .h3 {
    margin-bottom: 15px !important;
    font-size: 35px;
}

.apply__now__header .banner__body .h6 {
    margin-bottom: 0 !important;
    display: block;
}

.text-muted.mb-5.h6:last-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 30.4px;
    word-spacing: 2px;
}

.apply__now__body h1 {
    font-weight: 400;
}

.apply__now__timeline ul {
    list-style: none;
    position: relative;
    padding-left: 80px;
}

.apply__now__timeline ul::before {
    content: '';
    border-left: 1px solid #dc3545;
    height: calc(100% - 90px);
    display: block;
    width: 100%;
    position: absolute;
    left: 2%;
}

.apply__now__timeline ul li {
    position: relative;
}

.apply__now__timeline ul li::before {
    content: attr(data-count);
    color: #dc3545;
    position: absolute;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #f9fafb;
    top: -15%;
    left: -16.9%;
    font-size: 20px;
    border: 1px solid #dc3545;
}

.loan__btn button:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
}

.help__section .container {
    background-color: #dc3545;
}

.help__motivation .display-6 {
    color: white;
    font-weight: 500;
}

.help__number i {
    font-size: 45px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    background-color: white;
    color: #dc3545;
    border-radius: 50%;
    padding-left: 0 !important;
}

.help__number a {
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin-left: 25px;
}

.vertical__var {
    height: 100px;
    width: 1px;
    border-left: 1px solid aliceblue;
    position: relative;
    top: 50px;
    left: 0;
}

.company__values .col-md-5 ul {
    list-style: none;
    padding-left: 65px;
}

.company__values .col-md-5 ul li {
    position: relative;
}

.company__values .col-md-5 ul li span {
    position: absolute;
    top: 10px;
    left: -70px;
}

.company__values .col-md-5 ul li span i {
    font-size: 35px;
    color: rgb(231, 60, 62);
}

.service__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(203, 203, 204);
    position: relative;
}

.service__menu a {
    padding-bottom: 2.3%;
}

.service__menu a strong {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.service__menu a i {
    font-size: 35px;
    background-color: rgb(255, 254, 254);
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    color: gray;
}

.service__menu a.active i {
    color: #dc3545;
}

.service__menu a.active {
    border-bottom: 1px solid #dc3545;
}

.service__menu::before {
    content: '\f060';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 135.5px;
    left: -14px;
    background-color: #cecbcb;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: black;
    opacity: 0.3;
}

.service__menu::after {
    content: '\f061';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 136px;
    right: -16px;
    background-color: #cecbcb;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: black;
    opacity: 0.3;
}

.service__menu:hover::after {
    background-color: rgb(231, 60, 62);
    color: white;
    opacity: 1;
}

.service__menu:hover::before {
    background-color: rgb(231, 60, 62);
    color: white;
    opacity: 1;
}

.service__list__body {
    list-style: none;
    padding-left: 0 !important;
}

.service__list__body li {
    position: relative;
    margin-left: 20px;
}

.service__list__body li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: -20px;
    height: 10px;
    width: 10px;
    background-color: rgb(231, 60, 62);
    border-radius: 50%;
}

.feedback__position {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team__member__img {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.team__member__img img {
    width: 100%;
    height: auto;
}

.team__social {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.team__social ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 25px;
}

.team__social ul li {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    transform: translateY(35px);
    opacity: 0;
    visibility: hidden;
}

.team__member__img:hover .team__social ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.team__member__img .team__social ul li:nth-child(1) {
    transition: all 0.3s ease-in-out;
}

.team__member__img .team__social ul li:nth-child(2) {
    transition: all 0.4s ease-in-out;
}

.team__member__img .team__social ul li:nth-child(3) {
    transition: all 0.5s ease-in-out;
}

.team__member__img .team__social ul li:nth-child(4) {
    transition: all 0.6s ease-in-out;
}

.team__social ul li a {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: black;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
}

.team__social ul li a:hover {
    background-color: #dc3545;
    color: white;
}

.team__social ul li a i {
    font-size: 20px;
    line-height: 40px;
}

.testimonial__footer .card {
    border: none;
}

.testimonial__footer .card:hover .card-body span a {
    color: rgb(231, 60, 62);
    letter-spacing: 2px;
}

.testimonial__footer .card .card-body {
    padding-left: 0;
}

.testimonial__footer .card .card-body .h4 {
    margin-bottom: 20px;
}

.testimonial__footer .card .card-body .h4 a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: all 0.3s;
}

.testimonial__footer .card .card-body .h4 a:hover {
    color: rgb(231, 60, 62);
}

.testimonial__footer .card .card-body span a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in;
    font-weight: 600;
}

.footer__upper__body p {
    font-size: 18px;
    font-weight: 500;
}

.footer__upper__footer ul {
    list-style: none;
    padding-left: 0;
}

.footer__upper__footer ul h6 {
    display: inline-block;
    margin-right: 45px;
}

.footer__upper__footer ul li {
    display: inline-block;
}

.footer__upper__footer ul li a {
    display: block;
    font-size: 18px;
    width: 25px;
    color: white;
}

.footer__upper__footer ul li a i {
    transition: all 0.4s;
}

.footer__upper__footer ul li a:hover i {
    color: rgb(231, 60, 62);
}

.footer__upper__list .card {
    border: none;
}

.footer__upper__list .card ul li {
    background-color: #111111;
    color: white;
}

.footer__upper__list .card ul li:first-child {
    border-bottom: 1px solid rgb(51, 53, 53);
}

.footer__upper__list .card ul li .h5 {
    color: white;
}

.footer__upper__list .card ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.footer__upper__list .card ul li a:hover {
    letter-spacing: 2px;
    color: rgb(231, 60, 62);
}

.contact__info li i {
    position: relative;
    left: -30px;
    font-size: 25px;
    top: -15px;
}

.contact__info li:nth-child(3) {
    padding-top: 0;
    padding-left: 0;
    position: relative;
    left: -12px;
}

.contact__info li:nth-child(5) {
    padding-top: 0;
    padding-left: 0;
    position: relative;
    left: -12px;
}

.contact__info li:nth-child(7) {
    padding-top: 0;
    padding-left: 0;
    position: relative;
    left: -12px;
}

.footer__lower {
    margin-top: 30px;
}

.footer__lower .container p {
    color: gray;
    padding-bottom: 20px;
}

.footer__lower .container p a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: .3s;
}

.footer__lower .container p a:hover {
    letter-spacing: 2px;
    color: rgb(231, 60, 62);
}

.arrow__btn a i {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: aliceblue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}

.arrow__btn a i:hover{
    color: white;
    background-color: rgb(231, 60, 62);
}